 <div class="YX-S-M-19AB m-section-module">
    <div class="m-19AB-img-wrap" data-h55970f92="bannerImage">
        <img src="{{contentInfo.bannerImage}}" data-original="{{contentInfo.bannerImage}}" class="J_lazyload" />
    </div>
</div>