<div class="g-psc-bd">
	<!-- <menu-view></menu-view> -->
	<content-view></content-view>
	<edit-Menu-view></edit-Menu-view>
	<modal-view></modal-view>
	<pre-modal></pre-modal>
	<tip-view></tip-view>
</div>