{{#contentInfo.dotImage}}
<div class="YX-S-M-97D8 m-section-module">
	<div class="m-97D8-inner" data-h55970f92="dotImage">
		<img src="{{contentInfo.dotImage}}" data-original="{{contentInfo.dotImage}}" class="J_lazyload">
		<i class="i-97D8-dot"></i>
	</div>
</div>
{{/contentInfo.dotImage}}