<div class="g-doc" data-title="{{title.value}}" data-description="{{description.value}}" data-keywords="{{keywords.value}}" data-id="{{id}}" v-on:click="showModal"><div class="m-psc-oparate" data-oparate="{{id}}"><a href="javascript:;" target="_self" class="u-btn-s f-fr" v-on:click="operateEdit($event)">编辑</a></div></div>